<template>
    <template v-if="mode === 'view'">
        <span>{{ v ? "YES" : "no" }}</span>
    </template>
    <template v-else-if="mode === 'edit'">

        <div class="control">
            <label class="label">{{column.title}}</label>
            <label class="radio">
                <input type="radio" name="answer" v-model="v"  @input="handleInput">
                Yes
            </label>
            <label class="radio">
                <input type="radio" name="answer" v-model="v"  @input="handleInput">
                No
            </label>
        </div>
        
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
export default {
    name: 'boolean-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){ 
        return {
            v: this.modelValue
        }
    },   
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        }
    },
}
</script>
