<template>
    <template v-if="mode === 'view'">
        {{v}}
    </template>
    <template v-else-if="mode === 'edit'">
        <div class="field">
            <label class="label">{{column.title}}</label>
            <div class="control">
                <input class="input" type="text" v-model="v"  @input="handleInput">
            </div>
        </div>        
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
export default {
    name: 'classify-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){
//    console.log(this.modelValue)
        let s=''; 
        if(typeof this.modelValue =='object')
            s=this.modelValue.name;
        else
            s=this.modelValue;
        return {
            v: s
        }
                    
    },
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        }
    },
}
</script>
