<template>
    <template v-if="mode === 'view'">
        {{v}}
    </template>
    <template v-else-if="mode === 'edit'">
        <!--input class="input" type="datetime-local" v-model="v"  @input="handleInput"-->
        <input class="input" type="date" v-model="v"  @input="handleInput">
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
//@input="handleInput" 
export default {
    name: 'date-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){ 
        return {
            v: this.modelValue
        }
    },   
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        }
    },
}
</script>
