<template>
    <template v-if="mode === 'view'">
        <button class="button"  @click="showDialog"> {{ v }}
        </button>
    </template>
    <template v-else-if="mode === 'edit'">
        <button class="button"  @click="showDialog"> {{ v }}
        </button>
    </template>
    <template v-else>
        {{v}}
    </template> 

    <my-dialog v-model:show="dialogVisible">
        <geo-table v-bind="{dataset_uri:'https://isling.org:8000/dataset/list?f=245', structure:'https://isling.org:8000/dataset/list?f=100&f_id=245'}"></geo-table><!--test getting from isling-->
        content
    </my-dialog>
    
</template>

<script>
//import axios from 'axios';
//import GeoCell from '@/components/GeoCell.vue';
//import GeoTable from '@/components/GeoTable.vue';

export default {
    name: 'details-widget',
    props:['mode','column', 'modelValue', 'dataset_uri', 'structure'],
    emits: ['update:modelValue'],
    data(){ 

//  console.log(this.modelValue.det.sort) // я получаю значение ключа (962845718) det.sort или.rows - (правда в rows ничего нет). 
//  console.log(this.column.widget.properties.dataset_id) // здесь я получаю ИД таблицы детайлса (9401a508-9be3-45ff-8bde-78ab47347a33)
//  console.log(this.column.widget.properties.detailmeta.columns) // здесь я получаю описание структуры детайлса?

    return {
            v: this.modelValue,
            c: this.column,
            dialogVisible: false, // value of modal window
            meta:{columns:[]},
            rows:[],
        }
    },

//beforeCreate: function () {
//  this.$options.components.GeoCell = require('@/components/GeoCell.vue').default
//},

    components: {
//        GeoCell,
//        GeoTable, 
    },
    mounted(){
        this.getMeta();		
    },

    methods: {
        getMeta(){
           /* axios.get(this.structure).then((response) => {
//               console.log(response.data);
                this.meta= JSON.parse( response.data.aaData[0].JSON);
                this.meta.columns=this.meta.columns.filter(col=> {return col.visible})
                this.getData();
            });*/
        }, 
        getData(){ /*
            axios.get(this.dataset_uri+'&count_rows=true&iDisplayStart='+(this.page-1)*this.perPage+'&iDisplayLength='+this.perPage).then((response) => {
//                console.log(response.data);
                this.rows=response.data.aaData;
                // вот здесь надо же отдать только те строки, которые соотвествуют ИД в родительской таблице? Т.е. все что пагинирует таблицу надо убрать 
            }); */
        },
        showDialog() {
            this.dialogVisible = true;
        }
    }
}
</script>
