<template>
  <template v-if="mode === 'view'">
    <button class="button" v-if="imagesGallery.length > 0" @click="showDialog"> Show images
    </button>
  </template>
  <template v-else-if="mode === 'edit'">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" name="file" @input="handleInput">
          <span class="file-cta">
            <span class="file-icon">
            <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
            Choose a file…
            </span>
          </span>
      </label>
    </div>



  </template>
  <template v-else>
    {{v}}
  </template>

  <my-dialog v-model:show="dialogVisible">
    <vueper-slides :dragging-distance="50" :breakpoints="breakpoints">
      <vueper-slide
      v-for="(img, index) in imagesGallery"
      :key="index"
      :image="img.link"
      :title="img.title"
      :content="img.license"
      :link="img.link"
      />
    </vueper-slides>
  </my-dialog>  

</template>


<script>
import { VueperSlides, VueperSlide } from 'vueperslides';
import 'vueperslides/dist/vueperslides.css';


export default {
    name: 'image-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    components: {
      VueperSlides, 
      VueperSlide,
    },
    data(){
    return {
    v: this.modelValue,
    dialogVisible: false, // value of modal window

    breakpoints: {

        1500: {
          slideRatio: 2 / 3
        },
        900: {
          slideRatio: 1
        },
      },


    }
    },
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v);
           this.dialogVisible = false;
        },
        showDialog() {
            this.dialogVisible = true;
        }

    }, 
    computed:{
    imagesGallery: function(){
//        console.log("imagesGallery");
//        console.log(this.modelValue);
        
        var images=JSON.parse(this.modelValue);
        for(var i=0; i<images.length; i++){
          images[i].link="https://isling.org:8000/image/data?image="+images[i].link;
        }

        return images;
        
    },

  } 
}
</script>

<style>
.vueperslide__title {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  z-index: 3 !important;
  text-transform: uppercase;
}
.vueperslide__content {
  position: absolute !important;
  top: 30px !important;
  right: 5px !important;
  z-index: 3 !important;
}
</style>
/*
change title position (need find how to it normally)
удалить затемнения снизу-сверху
*/
