<template>
    <template v-if="mode === 'view'">
 <a v-bind:href="linktodocument">{{v}}</a>
    </template>
    <template v-else-if="mode === 'edit'">
        <div class="field">
            <label class="label">{{column.title}}</label>
            <div class="control">
                <input class="input" type="text" v-model="v"  @input="handleInput">
            </div>
        </div>
        
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
export default {
    name: 'objectview-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){ 
//    console.log(this.modelValue)
//    console.log(this.column)
        return {
            v: this.modelValue,
            linktodocument: "https://ya.ru" // как извлечь ссылку на документ ?
        }
    },
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        }
    },
}
</script>
