<template>
    <template v-if="mode === 'view'">
        {{pointformat(v)}}
    </template>
    <template v-else-if="mode === 'edit'">
        <textarea class="textarea" v-model="v" @input="handleInput"  placeholder="Введите текст"></textarea>
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
//@input="handleInput" 
export default {
    name: 'point-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){
        return {
            v: this.modelValue
        }
    },   
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        },
        wkt2decimal(val){
            var re=/MULTIPOINT\((-?[0-9]*\.?[0-9]*)\s(-?[0-9]*\.?[0-9]*)\)/
            var arr = re.exec(val);			
            if (arr==null || arr.length<3)
                return {lat:0, lon:0};
            return {lon:parseFloat(arr[1]), lat:parseFloat(arr[2])};
        },
        pointformat(v){
            var point=this.wkt2decimal(v)
            return point.lat.toFixed(6).replace(/0+$/, "")+', '+point.lon.toFixed(6).replace(/0+$/, "");

        }
    },
}
</script>
