<template>
    <template v-if="mode === 'view'">
         {{options[v]}}
    </template>
    
    <template v-else-if="mode === 'edit'">
        <div class="field">
            <label class="label">{{column.title}}</label>
            <div class="select">
                <select v-model="v">
                    <!--option> <input type="select" v-model="v"  @input="handleInput"></option--> 
                        <option v-for="option in options" :key="option.id" :value="option.value" @input="handleInput">
                            {{ option }}
                        </option>

                </select>
            </div>
        </div>
          <!--select v-model="selected">
    <option v-for="option in options" :key="option.id" :value="option.value">
      {{ option.text }}
    </option>
  </select-->
  
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
export default {
    name: 'select-widget',
    props:['mode','column','modelValue'],
    emits: ['update:modelValue'],
    data(){

//        console.log(this.column.widget.properties.options)
        let options={};
        let list=this.column.widget.properties.options.split(';')
        list.map(function (value){
            let val=value.split(':');
            options[val[0]]=val[1];
        })
        
        return {
           v: this.modelValue,
           options: options,
        } 
    },   
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v);
        },
    },
}
</script>