<template>
    <template v-if="mode === 'view'">
        {{v}}
    </template>
    <template v-else-if="mode === 'edit'">
        <div class="field">
            <label class="label">{{column.title}}</label>
            <div class="control">
                <textarea class="textarea" v-model="v" @input="handleInput"  placeholder="Введите текст"></textarea>
            </div>
        </div>
        
    </template>
    <template v-else>
        {{v}}
    </template>
    
</template>

<script>
//@input="handleInput" 
export default {
    name: 'text-widget',
    props:['mode','column', 'modelValue'],
    emits: ['update:modelValue'],
    data(){ 
        return {
            v: this.modelValue
        }
    },   
    methods:{
        handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v)
        }
    },
}
</script>