<template>
<div>
    <my-map></my-map>
    
  <!--l-map style="height:50vh">
    <l-geo-json :geojson="geojson" :options="geojsonOptions" />
    <LTileLayer :url="url"></LTileLayer>
    <LMarker :lat-lng="[13.1367826,77.5711133]"></LMarker>
  </l-map-->
</div>
<div class="buttons">
    <button class="button is-primary" @click="showDialog('Add')">
        Add
    </button>
    <button class="button is-success" @click="showDialog('Clone')">
        Clone
    </button>
    <button class="button is-link" @click="showDialog('Edit')">
        Edit
    </button>
    <!-- вот здесь в любом случае вызывается один и тот же showDialog -->
    
    <button class="button is-danger" @click="showDialog('Delete')">
       Delete
    </button>
</div> 

    <my-dialog v-model:show="dialogVisible">
                <template #header>
                    <button  @click="submitForm" class="button is-info is-fullwidth">{{formState}} form.  Click here for cancel changes and close form</button>
                </template>
                    <form>
                        <my-map></my-map>
                        <template v-for="col in meta.columns" :key="col"><!--если Add - то содержимое формы доложно быть пустым. Если Delete - вмсто сожержимого - только вопрос "действиельно хотите удалить запись ЛИД=123?"-->
                            <geo-cell v-bind="{mode:'edit', column:col, initValue:curentRow[col.fieldname], meta:meta, rowobject:curentRow}"></geo-cell>
                        </template>
                        <!--div  v-if="formState === 'Delete'">
                            Вы действительно хотите удалить?
                        </div>
                        <button  @click="submitForm" class="button is-primary" v-if="formState === 'Add'">
                        Add
                        </button>
                        <button  @click="submitForm" class="button is-link" v-else-if="formState === 'Edit'">
                        Edit
                        </button>
                        <button  @click="submitForm" class="button is-success" v-else-if="formState === 'Clone'">
                        Clone
                        </button>
                        <button  @click="submitForm" class="button is-danger" v-else>
                        Delete
                        </button-->  <!--take out form button to footer - А так можно? Если нельзя, то надо вернуть из футера в тело формы-->
                    </form>
                <template #footer>
                        <div  v-if="formState === 'Delete'">
                        </div>
                        <button  @click="submitForm" class="button is-primary is-fullwidth" v-if="formState === 'Add'">
                        Add
                        </button>
                        <button  @click="submitForm" class="button is-link is-fullwidth" v-else-if="formState === 'Edit'">
                        Edit
                        </button>
                        <button  @click="submitForm" class="button is-success is-fullwidth" v-else-if="formState === 'Clone'">
                        Clone
                        </button>
                        <button  @click="submitForm" class="button is-danger is-fullwidth" v-else>
                        Delete
                        </button> 
                </template>
    </my-dialog>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th v-for="col in meta.columns" v-bind:key="col"> {{col.title}} </th>
                </tr> 
            </thead>
            <tbody>
                <!--tr  :class="{'is-selected': isSelected}" v-for="row in rows" :key="row" @click="setcurentRow(row)"-->
                <!--tr v-for="user in users" @click="selectRow(user.id)" :key="user.id" :class="{'highlight': (user.id == selectedUser)}"-->
                <!--tr v-for="row in rows" @click="setcurentRow(row.id)" :key="row.id" :class="{'is-selected': (row.id == curentRow)}"-->
                    <tr v-for="row in rows" @click="setcurentRow(row)" :key="row.id" :class="{'is-selected': (row == curentRow)}">
                    <td v-for="col in meta.columns" v-bind:key="col">
                        <geo-cell v-bind="{mode:'view', column:col, initValue:row[col.fieldname], meta:meta, rowobject:row}"></geo-cell>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
    <v-pagination
        v-model="page"
        :pages="pagecount"
        :range-size="1"
        active-color="#DCEDFF"
        @update:modelValue="paginate"
    > </v-pagination>
 
</template>

<script>

import axios from 'axios'

// import gstring from './wstring'
import VPagination from "@hennge/vue3-pagination";
import "@hennge/vue3-pagination/dist/vue3-pagination.css";
/*import "leaflet/dist/leaflet.css"
import { LMap, LTileLayer, LGeoJson, LMarker } from "@vue-leaflet/vue-leaflet";*/
//import MyMap from './UI/MyMap.vue';
//import GeoCell from '@/components/GeoCell.vue';


export default {
    name: 'geo-table',
    data(){ 
        return {
            page:1,
            perPage:10,
            meta:{columns:[]},
            rows:[],
            pagecount:0,
            dialogVisible: false,
            formState: 'Add', // прописать условное получение в методе showDialog ? (Delete, Add, Save changes, Clone) 
            curentRow:{},
            /*geojson: {
                type: "FeatureCollection",
                features: [
                // ...
                ],
            },
            geojsonOptions: {
            // Options that don't rely on Leaflet methods.
            },
            url: "https://{s}.tile.osm.org/{z}/{x}/{y}.png",*/
        }
    },
    props:['dataset_uri', 'structure'],
    components: {
        VPagination,
         //   GeoCell,
       // LMap,
       // LGeoJson,
       // LTileLayer,
      //  LMarker
       // MyMap,
    },
    /*
    async beforeMount() {
    // HERE is where to load Leaflet components!
    const { circleMarker } = await import("leaflet/dist/leaflet-src.esm");
    // And now the Leaflet circleMarker function can be used by the options:
    this.geojsonOptions.pointToLayer = (feature, latLng) =>
      circleMarker(latLng, { radius: 8 });
    this.mapIsReady = true;
    },
*/
    mounted(){
        this.getMeta();		
    },

    methods: {
        getMeta(){
            axios.get(this.structure).then((response) => {
//                console.log(response.data);
                this.meta= JSON.parse( response.data.aaData[0].JSON);
                this.meta.columns=this.meta.columns.filter(col=> {return col.visible})
                this.getData();
            });
        },
        getData(){
            axios.get(this.dataset_uri+'&count_rows=true&iDisplayStart='+(this.page-1)*this.perPage+'&iDisplayLength='+this.perPage).then((response) => {
//                console.log(response.data);
                this.rows=response.data.aaData;
                this.pagecount=Math.max(1,Math.trunc(response.data.iTotalRecords / this.perPage)+1);
            });
        },

        paginate(newpage) {
            this.page=newpage;
            this.getData();
        },
        showDialog(state) {
            this.dialogVisible = true;
            this.formState = state;
        },

        setcurentRow(row) {
            this.curentRow = row;
          
        },

        submitForm() {
            this.dialogVisible = false;            
        },

    }
}
</script>
