<template>

  <geo-cell v-bind="{mode:'edit',column:col}" v-model="s"></geo-cell>
 app= {{s}}

  <h1>Table</h1>
  <geo-table v-bind="{dataset_uri:'https://isling.org:8000/dataset/list?f=243', structure:'https://isling.org:8000/dataset/list?f=100&f_id=243'}"></geo-table><!--test getting from isling-->
</template>

<script>
// import GeoCell from '@/components/GeoCell.vue';
// import GeoTable from '@/components/GeoTable.vue'

export default {
  name: 'App',
  components: {
  //  GeoCell,
  //  GeoTable

  },
  data(){ 
        return {
            col:{
              widget:{
                name:'date'
              }
            },
            s:"111",

        }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
