<template>
        <button class="button is-primary" @click="showDialog"> Add item
        </button>
    <my-dialog v-model:show="dialogVisible">
        content какой-то формы
        <form>
            <!--
                здесь какая-то форма
            -->
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input">
                </div>
            </div>
            <button class="button is-danger" @click="submitForm">Submit</button>
        </form>
    </my-dialog>
</template>

<script>
export default {
    name: 'my-add',
    data() {
        return { 

            dialogVisible: false,
        }
            
    },
    methods:{
       /* handleInput (e) {            
           this.v = e.target.value;            
           this.$emit('update:modelValue', this.v);
           this.dialogVisible = false;
        }, */
        showDialog() {
            this.dialogVisible = true;
        },
        submitForm() {
            this.dialogVisible = false;
        }
         /*
                
        +Здесь какая-то логика по сабмиту
*/
    }
}
</script>