<template>
    <div class="modal is-active" v-if="show" @click="hideDialog" style="z-index: 2000"> <!--z-index - make dialog overlapped on other all content-->
        <div class="modal-background"></div>
        <div class="modal-card"   style="width:100%"> <!--width of window-->
            <header class="card-header">
                <slot name="header"></slot>
            </header>    
            <section @click.stop class="modal-card-body" style="padding: 0px"> <!--modify padding (default padding is broad)-->
                <slot></slot>
            </section>
            <footer class="card-footer">
                <slot name="footer"></slot>
            </footer>
        </div>
    </div>
  
</template>

<script>
export default {
    name: 'my-dialog',
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        hideDialog() {
            this.$emit('update:show', false)
        }
    }    
}
</script>

<style>


</style>
