<template>
<p>map</p>
<div>
  <l-map style="height:50vh">
    <l-geo-json :geojson="geojson" :options="geojsonOptions" />
    <LTileLayer :url="url"></LTileLayer>
    <LMarker :lat-lng="[13.1367826,77.5711133]"></LMarker>
  </l-map>
</div>
</template>

<script>

import "leaflet/dist/leaflet.css"
import { LMap, LTileLayer, LGeoJson, LMarker } from "@vue-leaflet/vue-leaflet";


export default {
    name: 'my-map',
    data(){ 
        return {
            geojson: {
                type: "FeatureCollection",
                features: [
                // ...
                ],
            },
            geojsonOptions: {
            // Options that don't rely on Leaflet methods.
            },
            url: "https://{s}.tile.osm.org/{z}/{x}/{y}.png",
        }
    },
    props:['dataset_uri', 'structure'],
    components: {
        LMap,
        LGeoJson,
        LTileLayer,
        LMarker,
    },
    async beforeMount() {
    // HERE is where to load Leaflet components!
    const { circleMarker } = await import("leaflet/dist/leaflet-src.esm");
    // And now the Leaflet circleMarker function can be used by the options:
    this.geojsonOptions.pointToLayer = (feature, latLng) =>
      circleMarker(latLng, { radius: 8 });
    this.mapIsReady = true;
    },

}
</script>
